.home-main {
    width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 30px auto;
}
.MainDates{
    width: 100%;
}
.home-main__calendar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 65px;
}

.main-calendar__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-calendar__title span {
    color: #FFF;
    font-size: 45px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-left: 30px;
}

.main-calendar__title p {
    color: #DE131E;
    font-size: 75px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.main-calendar__date {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-left: 70px;
}

.main-date {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}

.date {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 21px;
    color: #DE131E;
    font-size: 70px;
    font-style: italic;
    font-weight: 700;
    line-height: 114.5px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.date span {
    color: #FFF;
}

.main-date__week {
    color: #8e8e8e;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    transform: translateY(-30px);
}

.main-date_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.user-finally {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info {
    position: absolute;
    left: 100px;
    top: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.user-info img {
    z-index: 2;
}

.user-finally__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
    height: 59px;
    border-radius: 10px;
    background: #DE131E;
    transform: translate(-27px, 23px);
    z-index: 1;
}

.user-finally__text p {
    width: 70px;
    color: #ffffffce;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 13.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-finally__text span {
    width: 70px;
    color: #EE9095;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-calendar__ui {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Calendar style */

.Calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: white;
    gap: 80px;
    margin-right: 90px;
}

.calendar-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 406px;
    height: 54px;
    border-radius: 10px;
    background: #212121;
}

.week-transform {
    position: absolute;
    right: -45px
}

.calnedar-header__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    transform: translateX(-10px)
}

.date-one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #DE131E;
}

.date-one p {
    width: 45px;
    height: 39px;
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 21px;
    transform: translate(-3px, -18px);
}

.date-texts {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
}

.date-texts p {
    width: 41px;
    height: 17px;
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 21px;
}

.date-texts span {
    height: 15px;
    color: #595959;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
}

.date-week__number {
    width: 11px;
    height: 21px;
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
}
.red_date{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #DE131E;
    transform: translateX(10px);
}
.date-week__numbers{
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
    transform: translateX(90px);
}

/* Car Map */

.CarMap{

}